body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Slider Styles */
.slider {
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%;
    align-items: center;
}

/* Individual Slide */
.slide {
    width: 25%;
    flex-shrink: 0;
}

.slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
}

/* Navigation Buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.pag-buttons {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}